# /etc/systemd/system/kelvin.service
# service file for Kelvin - The hue bot
# https://github.com/stefanwichmann/kelvin

[Unit]
Description=Kelvin
ConditionPathExists=/opt/kelvin/kelvin
After=network.target

[Service]
Type=simple
User=kelvin
Group=kelvin
WorkingDirectory=/opt/kelvin
ExecStart=/opt/kelvin/kelvin
Restart=always
RestartSec=10
StartLimitInterval=60s

[Install]
WantedBy=multi-user.target
